@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font-0.woff) format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(font-1.woff) format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(font-2.woff) format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(font-3.woff) format('woff');
}
@font-face {
  font-family: 'Noto Serif Display';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(font-4.woff) format('woff');
}
@font-face {
  font-family: 'Noto Serif Display';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(font-5.woff) format('woff');
}
@font-face {
  font-family: 'Noto Serif Display';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(font-6.woff) format('woff');
}
@font-face {
  font-family: 'Noto Serif Display';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(font-7.woff) format('woff');
}
